// only required if mouse_mode is enabled on Ubuntu and using gnome-terminal
// copy_command "xclip -selection clipboard" // x11

auto_layout false
show_startup_tips false
// mouse_mode false
mirror_session true

keybinds {
  shared_except "locked" {
    bind "Alt H" { Resize "Increase left"; }
    bind "Alt J" { Resize "Increase down"; }
    bind "Alt K" { Resize "Increase up"; }
    bind "Alt L" { Resize "Increase right"; }

    bind "Alt h" { MoveFocus "left"; }
    bind "Alt j" { MoveFocus "down"; }
    bind "Alt k" { MoveFocus "up"; }
    bind "Alt l" { MoveFocus "right"; }

    bind "Alt t" { NewTab; SwitchToMode "normal"; }
    bind "Alt 1" { GoToTab 1; SwitchToMode "normal"; }
    bind "Alt 2" { GoToTab 2; SwitchToMode "normal"; }
    bind "Alt 3" { GoToTab 3; SwitchToMode "normal"; }
    bind "Alt 4" { GoToTab 4; SwitchToMode "normal"; }
    bind "Alt 5" { GoToTab 5; SwitchToMode "normal"; }
    bind "Alt 6" { GoToTab 6; SwitchToMode "normal"; }
    bind "Alt 7" { GoToTab 7; SwitchToMode "normal"; }
    bind "Alt 8" { GoToTab 8; SwitchToMode "normal"; }
    bind "Alt 9" { GoToTab 9; SwitchToMode "normal"; }

    bind "Alt -" { NewPane "down"; SwitchToMode "normal"; }
    bind "Alt \\" { NewPane; SwitchToMode "normal"; } // instead of pipe directly
  }
}
